# Compiled source #
*.com
*.class
*.dll
*.exe
*.o
*.so

.vscode
tempCodeRunnerFile.*
build/
.idea/
lab05/cmake-build-debug/.ninja_deps
lab05/cmake-build-debug/.ninja_log
lab05/cmake-build-debug/build.ninja
lab05/cmake-build-debug/cmake_install.cmake
lab05/cmake-build-debug/CMakeCache.txt
lab05/cmake-build-debug/.cmake/api/v1/query/cache-v2
lab05/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
lab05/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
lab05/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
lab05/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
lab05/cmake-build-debug/CMakeFiles/clion-environment.txt
lab05/cmake-build-debug/CMakeFiles/cmake.check_cache
lab05/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
lab05/cmake-build-debug/CMakeFiles/3.28.1/CMakeCCompiler.cmake
lab05/cmake-build-debug/CMakeFiles/3.28.1/CMakeCXXCompiler.cmake
lab05/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_C.bin
lab05/cmake-build-debug/CMakeFiles/3.28.1/CMakeDetermineCompilerABI_CXX.bin
lab05/cmake-build-debug/CMakeFiles/3.28.1/CMakeRCCompiler.cmake
lab05/cmake-build-debug/CMakeFiles/3.28.1/CMakeSystem.cmake
lab05/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdC/CMakeCCompilerId.c
lab05/cmake-build-debug/CMakeFiles/3.28.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
lab05/cmake-build-debug/Testing/Temporary/LastTest.log
